body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.service-details {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

#bookButton {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#bookButton:hover {
    background-color: #555;
}
