body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Add a hover effect if you like */
.nav-links a:hover {
    color: #ffc107; /* Change the color as needed */
}
/* Add this to your existing CSS file */
.location-bar,
.search-bar {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.location-bar input,
.search-bar input {
    padding: 5px;
    margin-right: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

/* Adjustments for styling consistency */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: 10px; /* Adjust as needed */
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Add a hover effect if you like */
.nav-links a:hover {
    color: #ffc107; /* Change the color as needed */
}


/* Add this to your existing CSS file */
.login-link {
    margin-left: auto; /* This will push the login link to the right */
    padding: 10px; /* Adjust padding as needed */
}

.login-link a {
    text-decoration: none;
    color: #333; /* Set the color of the login link */
    font-weight: bold; /* Set the font weight as needed */

}

/* Add this to your existing CSS file */
.auth-links {
    display: flex;
}

.auth-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
}

/* Add a hover effect if you like */
.auth-links a:hover {
    color: #ffc107; /* Change the color as needed */
}


/* Add this to your existing CSS file */
.services {
    text-align: center;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the services horizontally */
    max-width: 1200px; /* Set a maximum width for the services container */
    margin: 0 auto; /* Center the services container horizontally */
}

.service {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 1.2em;
}
